* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}
header{
    display: flex;
    background: lightgray;
    width: 90%;
    margin: auto;
}
.Logo-container {
    background: darkblue;
}
nav {
    background: rgb(19, 19, 214);
}
.cart {
    background: darkgreen;
}