* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}
header{
    display: flex;
    background: lightgray;
    width: 90%;
    height: 10vh;
    margin: auto;
}
.logo-container {
    background: rgb(82, 78, 78);
    flex: 1;
}
nav {
    background: whitesmoke;
    flex: 2;
}
.cart {
    background: darkgreen;
    flex: 1;
}